/* Reset style default browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling the header */
  body {
    background-image: url('bgfoto.png');
    background-size: cover;
    background-position: center;
  }
  
  header {
    text-align: center;
    background-color: #2ad666;
    color: #000000;
    padding: 10px;
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  /* Styling the navigation */
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Styling the main content */
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    width: 45%;
  }
  
  section h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  li{
    color: #fff;
  }
  section p {
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
  }
  
  /* Styling the footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    text-align: center;
    font-size: 100;
    color: #fff;
    margin: auto;
    width: 50%;
    background-color: #f3f3f6;
    padding: 20px;
  }
  
   
  